.marquee{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    background-color: #FFFA9C99;
}

.marqueeContent{
    display: flex;
    min-width: 100%;
    flex-shrink: 0;
    animation: scroll infinite linear 20s;
}

.marquee:hover .marqueeContent{
    animation-play-state: paused;
}

.marqueeContent > a{
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: red;
    font-weight: bold;
    width: fit-content;
}

.marqueeContent > a:hover{
    text-decoration: underline;
}

@keyframes scroll {
   0%{
    transform: translateX(0%);
   } 
   100%{
    transform: translateX(-100%);
   }
}

.carouselContainer {
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    flex-shrink: 0;
    height: 250px;
    background-color: black;
}

.imageContainer>img {
    height: 100%;
    width: 100%;
    object-position: center;
}

.carouselContainer>button {
    all: unset;
    position: absolute;
    color: white;
    height: 100%;
    top: 0;
}

.carouselContainer>button.left {
    left: 0;
}

.carouselContainer>button.right {
    right: 0;
}

.carouselContainer>button>img {
    filter: invert() drop-shadow(2px 2px 6px black);
    height: 2rem;
    padding: 0 1rem;
    opacity: 75%;
}

.carouselContainer>button:hover {
    background-color: #ffffff2f;
}

.contentContainer {
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.collegeIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
}

.contentContainer>.collegeIntro>h1 {
    font-size: 1rem;
    font-weight: bold;
    font-family: serif;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.collegeIntro>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
    gap: 2rem;
}

.collegeIntro>div>iframe {
    margin: auto;
    height: auto;
    width: auto;
    aspect-ratio: 16 / 9;
}

.deansMessage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.deansMessage > h1 {
    width: 100%;
}

.deansMessage>img {
    height: 200px;
    border-radius: 0.5rem;
}

.deansMessage>div {
    font-size: 0.75rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.deansMessage h2{
    text-align: start;
    color: var(--primary-color);
    font-size: 0.75rem;
}

.deansMessage strong{
    color: var(--primary-color);
    font-size: 0.75rem;
}

.deansMessage>div>a {
    display: block;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.contentContainer>div>h1 {
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.contentContainer>div>p {
    text-align: justify;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.contentContainer>div>a {
    display: block;
    font-size: 0.75rem;
    width: fit-content;
    color: var(--primary-color);
    font-weight: bold;
    margin: 1rem 0;
}

@media only screen and (min-width: 768px) {
    .imageContainer {
        height: 700px;
    }

    .carouselContainer>button>img {
        padding: 0 2rem;
        height: 2rem;
    }

    .contentContainer {
        max-width: 70%;
        margin: 2rem auto;
    }

    .contentContainer>div>h1 {
        font-size: 1.5rem;
    }

    .collegeIntro {
        font-size: 1rem;
    }

    .contentContainer>.collegeIntro>h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .collegeIntro>div {
        flex-direction: row;
    }

    .collegeIntro > div>p{
        flex: 1 1 50%;
    }

    .collegeIntro>div>iframe {
        flex: 1 1 400px;
    }

    .deansMessage>img {
        width: 400px;
        height: auto;
    }

    .deansMessage > div{
        font-size: 1rem;
    }
    
    .deansMessage h2{
        font-size: 1rem;
    }
    
    .deansMessage strong{
        font-size: 1rem;
    }
}