* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: #82261B;
    --light-primary-color: #982B1F;
}

body{
    font-family: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.maintenanceContainer div{
    font-size: 1rem;
    padding: 2rem;
}

.maintenanceContainer p{
    padding: 1rem;
}

.maintenanceContainer a{
    color: var(--primary-color);
    display: inline-block;
    text-decoration: underline;
}

a{
    display: block;
    text-decoration: none;
}

.pageBanner {
    position: relative;
}

.pageBanner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(30%);
    object-fit: cover;
}

.pageBanner h1{
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    padding: 4rem 0;
    font-size: 1rem;
    text-shadow: 1px 1px 4px black;
}

.contentContainer {
    margin: auto;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.contentContainer div h1{
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.contentContainer div h2{
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.contentContainer div li{
    text-align: justify;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.contentContainer div a{
    text-align: justify;
    font-size: 0.75rem;
    margin: 1rem 0;
    color: var(--primary-color);
    text-decoration: underline;
}


.contentContainer div p{
    text-align: justify;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}
.contentContainer div h3{
    text-align: justify;
    font-size: 0.75rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

@media only screen and (min-width: 768px){
    .maintenanceContainer{
        width: 70%;
        margin: auto;
    }

    .maintenanceContainer div{
        font-size: 2rem;
        padding: 4rem;
    }

    .pageBanner h1{
        padding: 8rem 0;
        font-size: 2rem;
    }

    .contentContainer {
        max-width: 70%;
        margin: 2rem auto;
    }

    .contentContainer div h1{
        font-size: 1.5rem;
    }

    .contentContainer div li{
        font-size: 1rem;
    }

    .contentContainer div a{
        font-size: 1rem;
    }

    .contentContainer div p{
        font-size: 1rem;
    }
    .contentContainer div h3{
        font-size: 1.2rem;
        font-weight: 400;
    }
}