.contentContainer {
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.contentContainer > div > h1{
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.contentContainer > div > p{
    text-align: justify;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.contentContainer > div > a{
    display: block;
    font-size: 0.75rem;
    width: fit-content;
    color: var(--primary-color);
    font-weight: bold;
    margin: 1rem 0;
}

.contentContainer .mentorMenteeIntro{
    margin-top: 2rem;
    font-size: 0.75rem;
}

@media only screen and (min-width: 768px) {
    .contentContainer {
        max-width: 70%;
        margin: 2rem auto;
    }

    .contentContainer > div > h1{
        font-size: 1.5rem;
    }

    .contentContainer > div > p{
        font-size: 1rem;
    }

    .contentContainer > div > a{
        font-size: 1rem;
        font-weight: bold;
        margin: 1rem 0;
    }

    .contentContainer .mentorMenteeIntro{
        font-size: 1rem;
    }
}