.galleryCardContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.galleryCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
}

.galleryCard > img{
    border-radius: 1rem;
    max-width: 300px;
    max-height: 200px;
}

.galleryCard > p{
    margin-top: 1rem;
    font-size: 0.75rem;
    font-weight: bolder;
    text-align: center;
    color: var(--primary-color);
}

@media only screen and (min-width: 768px) {
    .galleryCard > img{
        max-width: 500px;
        max-height: 300px;
    }

    .galleryCard >p{
        font-size: 1rem;
    }
}